Repository 394-w25/SafePassage, pull requests merged in 2025-02, with the labels that each got.

#3 feat: add onboarding page and corresponding logic
  package-lock.json
  package.json
  src/components/Onboarding/AddFamilyContacts.tsx
  src/components/Onboarding/BottomController.tsx
  src/components/Onboarding/EditableSection.tsx
  src/components/Onboarding/InputHealthHistory.tsx
  src/components/Onboarding/index.ts
  src/components/common/Layout/index.tsx
  src/components/common/ProtectedRoute.tsx
  src/components/common/UI/CustomInputField.tsx
  src/context/HealthHistoryContext.tsx
  src/context/index.ts
  src/hooks/index.ts
  src/hooks/useIsOnboarding.ts
  src/pages/Onboarding.tsx
  src/routes.tsx
  src/stores/userStore.ts
  src/types/user.d.ts
  src/utils/firebase/auth.ts
  src/utils/firebase/userProfile.ts
  src/utils/onboardingUtils.ts
Labels: bug, enhancement, size/M, components, hooks, pages, stores, types, utils

#4 feat: add Home page basic overview
  src/pages/Home.tsx
  src/utils/translations.ts
Labels: enhancement, pages, utils, size/S

#8 feat: add new home screen style
  src/components/common/Layout/Header.tsx
  src/components/common/Layout/index.tsx
  src/components/common/ProtectedRoute.tsx
  src/pages/Me.tsx
Labels: enhancement, components, pages, size/S

#9 fix: user age type and display issue
  package-lock.json
  package.json
  src/components/Onboarding/InputHealthHistory.tsx
  src/context/HealthHistoryContext.tsx
  src/pages/Home.tsx
  src/types/user.d.ts
  src/utils/onboardingUtils.ts
Labels: bug, components, pages, types, utils, size/S

#14 feat: UI enhancement
  src/components/Home/LanguageToggle.tsx
  src/components/Home/MedicalProviderView.tsx
  src/components/Home/index.ts
  src/components/Onboarding/AddFamilyContacts.tsx
  src/components/Onboarding/BottomController.tsx
  src/components/Onboarding/EditableSection.tsx
  src/components/Onboarding/InputHealthHistory.tsx
  src/components/common/Layout/AuthPrompt.tsx
  src/components/common/Layout/index.tsx
  src/components/common/UI/CustomInputField.tsx
  src/pages/Home.tsx
  src/pages/Onboarding.tsx
  src/utils/theme.ts
Labels: size/M, components, pages, utils

#15 feat: add basic qr code logic
  package-lock.json
  package.json
  src/components/Home/MedicalProviderView.tsx
  src/components/Home/QRCode.tsx
  src/components/Home/index.ts
  src/components/common/Layout/index.tsx
  src/hooks/index.ts
  src/hooks/useShowFooter.ts
  src/pages/Home.tsx
  src/pages/UserMedicalRecord.tsx
  src/routes.tsx
  src/utils/firebase/auth.ts
  src/utils/firebase/firebaseUtils.ts
  src/utils/firebase/index.ts
  src/utils/firebase/userProfile.ts
  vite.config.ts
Labels: enhancement, size/M, components, hooks, pages, utils

#18 feat: add emergency contacts to home screen
  src/components/Home/EmergencyContacts.tsx
  src/pages/Home.tsx
Labels: enhancement, components, pages, size/S

#22 feat: add medications field to HealthInfos
  src/context/HealthHistoryContext.tsx
  src/types/user.d.ts
Labels: types, size/XS

#24 feat: add pop up before auto send messages
  package-lock.json
  package.json
  src/App.tsx
  src/components/Home/EmergencyContacts.tsx
  src/components/Onboarding/AddFamilyContacts.tsx
  src/components/Onboarding/EditableSection.tsx
  src/components/Onboarding/InputHealthHistory.tsx
  src/components/common/LoadingCircle.tsx
  src/components/common/UI/CustomAutocomplete.tsx
  src/components/common/UI/CustomInputField.tsx
  src/components/common/UI/index.ts
  src/context/HealthHistoryContext.tsx
  src/hooks/index.ts
  src/hooks/useEmergencyAlert.ts
  src/pages/UserMedicalRecord.tsx
  src/utils/onboardingUtils.ts
Labels: bug, enhancement, size/M, components, hooks, pages, utils

#23 feat: add medications to onboarding and home screen
  src/components/Home/MedicalProviderView.tsx
  src/components/Home/MedicationInfos.tsx
  src/components/Home/index.ts
  src/components/Onboarding/AddFamilyContacts.tsx
  src/components/Onboarding/BottomController.tsx
  src/components/Onboarding/EditableList.tsx
  src/components/Onboarding/EditableSection.tsx
  src/components/Onboarding/InputMedications.tsx
  src/components/Onboarding/index.ts
  src/components/common/UI/CustomInputField.tsx
  src/context/HealthHistoryContext.tsx
  src/pages/Home.tsx
  src/pages/Onboarding.tsx
  src/types/user.d.ts
Labels: size/M, components, pages, types

#25 feat: add edit user profile on Me page
  src/components/Me/ActionButtons.tsx
  src/components/Me/EditProfileForm.tsx
  src/components/Me/MainInfo.tsx
  src/components/Me/index.ts
  src/context/HealthHistoryContext.tsx
  src/pages/Me.tsx
Labels: size/M, components, pages

#26 fix: real time updating
  .github/workflows/firebase-deploy.yml
  .github/workflows/firebase-preview.yml
  package-lock.json
  package.json
  src/App.tsx
  src/components/Onboarding/InputHealthHistory.tsx
  src/stores/userStore.ts
  src/utils/firebase/firebaseUtils.ts
  src/utils/firebase/index.ts
Labels: bug, components, stores, utils, size/S
