Repository 394-w25/SafePassage, pull requests merged in 2025-03, with the labels that each got.

#27 feat: add trip page and corresponding logic
  src/components/Trip/TripCard.tsx
  src/components/Trip/TripDialog.tsx
  src/components/Trip/index.ts
  src/components/common/Layout/Footer.tsx
  src/components/common/UI/CustomInputField.tsx
  src/components/common/UI/CustomSelectField.tsx
  src/hooks/index.ts
  src/hooks/useTrips.ts
  src/pages/Trip.tsx
  src/routes.tsx
  src/types/user.d.ts
  src/utils/tripUtils.ts
Labels: size/M, components, hooks, pages, types, utils

#28 fix: Update Footer icon
  src/components/common/Layout/Footer.tsx
Labels: components, size/XS

#29 fix: multiple minor bugs
  .gitignore
  package-lock.json
  package.json
  src/components/Home/MedicationInfos.tsx
  src/components/Onboarding/InputMedications.tsx
  src/components/common/UI/CustomInputField.tsx
  src/context/HealthHistoryContext.tsx
  src/hooks/useTrips.ts
  src/stores/userStore.ts
  src/types/user.d.ts
Labels: bug, components, hooks, stores, types, size/S

#30 feat: add medication adjustment feature
  .github/workflows/label-pr-based-on-paths.yml
  package-lock.json
  package.json
  src/components/Home/MedicalProviderView.tsx
  src/components/Home/MedicationInfos.tsx
  src/components/Me/MainInfo.tsx
  src/components/Medication/DateSlider.tsx
  src/components/Medication/MedicationCard.tsx
  src/components/Medication/index.tsx
  src/components/Onboarding/InputHealthHistory.tsx
  src/components/Onboarding/InputMedications.tsx
  src/components/Trip/TripCard.tsx
  src/components/Trip/TripDialog.tsx
  src/components/Trip/index.ts
  src/components/Trip/index.tsx
  src/components/common/Layout/Footer.tsx
  src/context/DateSliderContext.tsx
  src/context/HealthHistoryContext.tsx
  src/context/index.ts
  src/hooks/index.ts
  src/hooks/useDateSlider.ts
  src/pages/Home.tsx
  src/pages/Me.tsx
  src/pages/Medication.tsx
  src/pages/UserMedicalRecord.tsx
  src/routes.tsx
  src/types/user.d.ts
  src/utils/medicationUtils.ts
  src/utils/tripUtils.ts
Labels: enhancement, size/M, components, hooks, pages, types, utils, BREAKING CHANGE

#33 [Feature]: Remove the previous surgeries remove from summary enhancement New feature or request
  src/components/Me/MainInfo.tsx
Labels: enhancement, components, size/S

#35 feat: i18n Translation
  src/components/Home/EmergencyContacts.tsx
  src/components/Home/LanguageToggle.tsx
  src/components/Home/MedicalProviderView.tsx
  src/components/Home/MedicationInfos.tsx
  src/components/Me/MainInfo.tsx
  src/hooks/useEmergencyAlert.ts
  src/pages/Onboarding.tsx
  src/pages/UserMedicalRecord.tsx
  src/stores/LanguageStore.ts
  src/stores/index.ts
  src/types/translation.d.ts
  src/utils/translations.ts
Labels: components, hooks, pages, stores, types, utils, size/S
